<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if page %}
    <title>{{page}}</title>
    {% else %}
    <title>Document</title>
    {% endif %}
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              dark-navy: #0A1128;
              light-gray: #EAEAEA;
            }
          }
        }
      }
    </script>
  </head>
  <body style="background-color: #F6F5F2;">
    {% include "components/header.html" %} 
    <div class="bg-white">
      {% block start %} {% endblock %}

    </div>
    
  </body>
</html>
